.hero {
  min-height: 100vh;
  background: #d2d0ea;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;

  .image {
    height: auto;
    width: 250px;
    align-self: center;

    @include MQ(XS) {
      height: auto;
      width: 50vh;
      max-width: 450px;
    }
  }

  &.landing {
  	min-height: calc(100vh - 50px);
    background: url('../img/SW_DominikMartin-copia-2.jpg') no-repeat center center;
    background-size: cover;
  }

  &.farmers {
    background: url('../img/11456152984_68fecb3344_o.jpg') no-repeat center center;
    background-size: cover;
  }

  &.nutrition {
    background: url('../img/Slow Cooker Lamb Stew.jpg') no-repeat center center;
    background-size: cover;
  }

  p {
  	color: $color-white;
  }
}

.scroll-ind {
  position: relative;
  cursor: pointer;
  margin: 5.0rem auto 0 auto;
  width: 0;
  display: inline-block;
}

.scroll-ind:before {
  content: '';
  position: absolute;
  left: 1.36rem;
  top: 8px;
  height: 5px;
  width: 5px;
  background: #FFF;
  border-radius: 50%;
  -webkit-animation: scroll 1.8s infinite;
  animation: scroll 1.8s infinite;
}

@keyframes scroll {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
    transform: translateY(0);
  }
  40% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(14px);
  }
}
